#header {
  height: 400px;
  padding-top: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0065a8;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

#profile-image {

  width: 180px;
  padding-top: 80px;
}

#your-name {
  margin: 5px;
  padding-bottom: 80px;
  padding-top: -30px;
  color:antiquewhite;
}