main {
  padding: 20px;
  width: 100%;
}

footer {
  margin-top: 10px;
  font-family: "Bungee";
  /* display: flex;
  justify-content: space-between;
  align-content: flex-end; */
}

#tweet-button {

  background-color: #4056a1;
  color: #FFFFFF;
}

section form {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.counter {
  margin-top: -30px;
  display: flex;
  justify-content:flex-end
}

.red-count {
  color: red;
}

/* Tweet container and contents */
.container-for-tweets {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  padding: 20px;
} 

.name {
  padding-left: 30px;
  font-weight:300;
  font-size:larger;
}

.tweet-content {
  font-weight:900;
}

article.tweet {
  border: 3px solid grey;
  border-width: thick;
  color: #302f2c;
  margin-top: 50px;
  padding: 20px;
}

article {
  margin-bottom: 40px;
  border: 3px solid grey;
  border-width: thick;
}

.tweet-line {
  border-bottom: 2px solid #302f2c;
}

article footer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.footer-days-counter {
  font-family: Arial, Helvetica, sans-serif;
}

.icons {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.icons :hover {
  color: #faa302;
}