main {
  padding: 20px;
  width: 100%;
}

footer {
  margin-top: 10px;
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

#tweet-button {
  background-color: #4056a1;
  color: #ffffff;
}

#tweet-button:hover {
  background: #4056a1;
  border: 5px solid #6f90f9;
}

section form {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.counter {
  display: flex;
  justify-content: flex-end;
}

.red-count {
  color: red;
}

.container-for-tweets {
  width: 100%;
  border: solid#4056a1;
  margin-bottom: 20px;
  padding: 20px;
}

.user-profile {
  display: flex;
}

.user-profile p {
  padding-left: 15px;
}

.name {
  padding-left: 30px;
  font-weight: 300;
  font-size: larger;
}

.username {
  color: #4056a1;
  font-weight: 600;
}

#tweet-text {
  width: 100%;
  outline: none;
  resize: none;
  font-weight: 900;
}

.tweet-content {
  font-weight: 900;
}
article header {
  display: flex;
  justify-content: space-between;
}

.tweet-line {
  border-bottom: 2px solid #302f2c;
}

article footer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.footer-days-counter {
  font-family: Arial, Helvetica, sans-serif;
}

.icons {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  color: #4056a1;
}
.icons :hover {
  color: #faa302;
}
.icons li {
  margin: 0px 10px;
}
#warning {
  color: red;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}
@media only screen and (max-width: 768px) {
  .tweet-container header {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
  #body-header {
    width: 30%;
    margin: 15rem 1rem 0 1rem;
    position: relative;
    margin-left: 5rem;
  }
  main {
    width: 60%;
    margin-top: 8rem;
    position: relative;
    padding-left: 8rem;
  }
}
